*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 15px;
    position: relative;
   
}

.nav::before{
    content: '';
    display: block;
    height: 1px;
    background: #D4D7E6;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.login__menu{
    display: flex;
    align-items: center;
    gap: 48px;
}

.login__people{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #9093A6;
    transition: .4s;
}

.login__people:hover{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #494b55;
}

.by{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #9093A6;
    transition: .4s;
}

.by:hover{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #494b55;
}


.burger__menu {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    /* display: none; */
}

.burger__menu_close {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    display: none;
}

/* .line {
    width: 100%;
    height: 1px;
    background: #9093A6;
    display: inline-block;
}

.line::after,
.line::before {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    background: #9093A6;
    position: absolute;
}

.line::after {
    top: 3px;
}

.line::before {
    top: 9px;
} */

.drop__menu_main{
    position: absolute;
    right: 0px;
    width: 100%;
    height: 900px;
    background: rgba(49, 48, 48, 0.6);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: .4s ease-in-out;
    z-index: 2;
}

.drop__menu{
    position: absolute;
    top: 0;
    right: 276px;
    width: 400px;
    height: 900px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
    z-index: 3;
}


.drop__menu_cards{
    display: flex;
    gap: 16px;
    align-items: start;
    margin-top: 22px;
    position: relative;
    margin-bottom: 24px;
}

.drop__menu_main.active{
   opacity: 1;
}

.drop__menu_cards_right{
    display: flex;
    flex-direction: column;
    gap: 6px;
    /* padding-bottom: 24px; */
}

.drop__menu_tel{
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #3F4255;
}

.drop__menu_time{
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #9093A6;
}

.drop__menu_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 22px;
}

.drop__menu_list_link a{
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #9093A6;
    position: relative;
    padding: 22px 0px;
}

.drop__menu_list_link a:nth-child(1)::after{
    content: '';
    top: 0;
    display: block;
    position: absolute;
    height: 1px;
    width: 207px;
    background: #F2F4FA;
}

.drop__menu_list_link a:nth-last-child(a)::after{
    content: '';
    top: 40px;
    display: block;
    position: absolute;
    height: 1px;
    width: 207px;
    background: #F2F4FA;
}

.language::before{
    content: '';
    display: block;
    height: 1px;
    background: #F2F4FA;
    width: 207px;
    position: absolute;
    top: 0;
}

.language{
    padding-top: 27px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 214px;
    position: relative;
    
}

select {
    display: flex;
    align-items: end;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

option{
    background: #F2F4FA;
    width: 70px;
    border-radius: 0;

}

.header__left_content{
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    gap: 88px;
}

.header__content{
    display: flex;
    justify-content: center;
}

.header__bg{
    margin-top: 25px;
}


.header__content_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #3F4255;
    max-width: 500px;
    width: 100%;
}

.header__left_content_main_btn{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__left_content_btn{
    border: 2px solid #FFE145;
    border-radius: 4px;
    padding: 18px 2px;
    width: 117px;
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.5px;
    color: #3F4255;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.header__left_content_btn span{
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.5px;
    color: #3F4255;
    cursor: pointer;
}

.header__content_bottom{
    margin-top: -50px;
    display: flex;
    padding: 24px 25px 24px 64px;
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    max-width: 872px;
    width: 100%;
    gap: 40px;
}

.header__content_bottom_cards{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__content_bottom_cards_title{
    max-width: 200px;
    width: 100%;
}

.header__content_bottom_cards_title{
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #3F4255;
}

.header__content_bottom_cards:nth-child(2){
    max-width: 200px;
    width: 100%;
    padding-left: 30px;
}

.swiper {
    width: 1256px;
    height: 296px;
    position: relative;
}

.swiper-slide {
    max-width: 296px;
    height: 296px;
    width: 100%;
    filter: drop-shadow(0px 2px 16px rgba(60, 62, 74, 0.08));
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide_txt{
    margin-top: -3px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 296px;
    text-align: center;
    padding: 25px 74px 18px 73px;
}

.swiper-wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}

.button_swiper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.swiper-button_next{
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    position: relative;
}

.swiper-button_prev{
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    position: relative;
}

.next{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prev{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.restaurants__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 47px 0;
}

.restaurants__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #3F4255;
}

.restaurants__btn{
    display: block;
    background: #F2F4FA;
    border-radius: 4px;
    padding: 14px 24px;
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.5px;
    color: #9093A6;
}

.sand{
    background: #F2F4FA;
    margin: 73px 0;
}

.sand__info{
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sand__info__left{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sand__info__left_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #3F4255;
}

.sand__info__left_subtitle{
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #3F4255;
    max-width: 363px;
    width: 100%;
}

.sand__info__right{
    display: flex;
}

form{
    display: flex;
    gap: 4px;
}

form input{
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 25px 16px 24px 48px;
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #9093A6;
    max-width: 336px;
    width: 100%;
}

.sand__info__right_btn {
    display: inline-block;
    padding: 26px 24px;
    background: #FFE145;
    border-radius: 4px;
    border: none;
    outline: none;
}


.swiper_specialities{
    width: 1256px;
    height: 136px;
    position: relative;
    margin: auto;
}

.swiper-wrapper_specialities{
    display: flex;
    align-items: center;
    gap: 24px;
}


.swiper-slide_s{
    max-width: 136px;
    height: 136px;
    width: 100%;
    filter: drop-shadow(0px 2px 16px rgba(60, 62, 74, 0.08));
    border-radius: 4px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.spec__container{
    margin: 72px 0;
    background:url(../img/bg_s.png) center center /cover;
    width: 100%;
    height: 384px;
    position: relative;
}

.spec__container_cards{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 828px;
    width: 100%;
    /* gap: 25px; */
    position: relative;
}

.spec__container__cards{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5px;
}


.circle{
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background: #FFE145;
    position: relative;
}

.circle_second{
    position: absolute;
    top: -20px;
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background: none;
    border: 1px solid #B79C10;
}

.circle__title{
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #3F4255;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.spec__container__cards_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3F4255;
}

.map{
    text-align: center;
    margin: auto;
    display: block;
    position: relative;
    max-width: 1280px;
    width: 100%;
    height: 600px;
}

.map__points_one{
    cursor: pointer;
}
/* карта */
/* --------------------------------------------- */
.map__points_one_map{
    position: absolute;
    top: 157px;
    left: 407.94px;
}

.map__points_one:hover .map__points_one_transparent{
    position: absolute;
    top: 157px;
    left: 407.94px;
    fill: #ffd70f;
}

.map__points_one_transparent{
    fill: transparent;
    opacity: 0.9;
    transition: .4s;
}
/* --------------------------------------------- */
.map__points_second_map{
    position: absolute;
    top: 71.5px;
    left: 636px;
}

.map__points_second:hover .map__points_second_transparent{
    position: absolute;
    top: 157px;
    left: 407.94px;
    fill: #ffd70f;
}

.map__points_second_transparent{
    fill: transparent;
    opacity: 0.9;
    transition: .4s;
}
/* ----------------------------------------------------- */
.map__points_three_map{
    position: absolute;
    top: 69px;
    left: 399px;
}

.map__points_three:hover .map__points_three_transparent{
    position: absolute;
    top: 157px;
    left: 407.94px;
    fill: #ffd70f;
}

.map__points_three_transparent{
    fill: transparent;
    opacity: 0.9;
    transition: .4s;
}
/* ------------------------------------------------------- */
.map__points_four_map{
    position: absolute;
    top: 209.5px;
    left: 329px;
}

.map__points_four:hover .map__points_four_transparent{
    position: absolute;
    top: 157px;
    left: 407.94px;
    fill: #ffd70f;
}

.map__points_four_transparent{
    fill: transparent;
    opacity: 0.9;
    transition: .4s;
}
/* ------------------------------- */
.map__points_five_map{
    position: absolute;
    top: 342px;
    left: 326.5px;
}

.map__points_five:hover .map__points_five_transparent{
    position: absolute;
    top: 157px;
    left: 407.94px;
    fill: #ffd70f;
}

.map__points_five_transparent{
    fill: transparent;
    opacity: 0.9;
    transition: .4s;
}

/* -------------------------------------------- */
.map__points_six_map{
    position: absolute;
    top: 343px;
    left: 397.83px;
}

.map__points_six:hover .map__points_six_transparent{
    position: absolute;
    top: 157px;
    left: 407.94px;
    fill: #ffd70f;
}

.map__points_six_transparent{
    fill: transparent;
    opacity: 0.9;
    transition: .4s;
}
/* ----------------------------------------- */
.map__points_seven_map{
    position: absolute;
    top: 319.5px;
    left: 434px;
}

.map__points_seven:hover .map__points_seven_transparent{
    position: absolute;
    top: 157px;
    left: 407.94px;
    fill: #ffd70f;
}

.map__points_seven_transparent{
    fill: transparent;
    opacity: 0.9;
    transition: .4s;
}
/* ----------------------------------------- */
.map__points_eight_map{
    position: absolute;
    top: 289px;
    left: 476.5px;
    transition: .9s;
}

.map__points_eight:hover .map__points_eight_transparent{
    position: absolute;
    top: 157px;
    left: 407.94px;
    fill: #ffd70f;
}

.map__points_eight_transparent{
    fill: transparent;
    opacity: 0.9;
    transition: .4s;
}
/* карта */

/* точки на карте */
.point__map_one{
    position: absolute;
    top: 340px;
    left: 694px;
    transition: .4s;
    display: block;
    transition: .4s;
}

.point__map_one:hover{
    transform: scale(1.2);
}

.point__map_second{
    position: absolute;
    top: 217px;
    left: 646px;
    transition: .4s;
    display: block;
}

.point__map_second:hover{
    transform: scale(1.2);
}

.point__map_three{
    position: absolute;
    top: 160px;
    left: 557px;
    display: block;
    transition: .4s;
    z-index: 99;
    opacity: 1;
}

.point__map_three:hover{
    transform: scale(1.2);
}

.point__map_four{
    position: absolute;
    top: 233px;
    left: 509px;
    display: block;
    transition: .4s;
}

.point__map_four:hover{
    transform: scale(1.2);
}
/* -------------------------------------- */
.point__map_second_map{
    position: absolute;
    top: 84.78px;
    left: 707.67px;
    transition: .4s;
}

.point__map_second_map:hover{
    transform: scale(1.2);
}
/* ------------------------------- */
.point__map_three_map{
    position: absolute;
    top: 124.78px;
    left: 482.67px;
    transition: .4s;
}

.point__map_three_map:hover{
    transform: scale(1.2);
}
/* ---------------------------------- */
.point__map_eight_map{
    position: absolute;
    top: 379.78px;
    left: 587.67px;
    transition: .4s;
}

.point__map_eight_map:hover{
    transform: scale(1.2);
}
/* точки на карте */



.yellok_ins{
    margin: 72px auto;
}

.yellok_ins__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #313030;
    padding-bottom: 21px;
}

.yellok_ins__title span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #9093A6;
}

.yellok_ins__title_cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer{
    background: #3F4255;
}

.footer__content{
    display: flex;
    flex-direction: column;
    padding: 48px 0;
}

.footer__top{
    display: flex;
    justify-content: space-between;
}

.footer__top_left{
    display: flex;
    flex-direction: column;
}

.logo__footer{
    position: relative;
    padding-bottom: 48px;
}

.logo__footer::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #FFFFFF;
}

.application__footer{
    padding-top: 48px;
    display: flex;
    gap: 8px;
}

.footer__top_right_link{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__top_right{
    display: flex;
    gap: 83px;
}

.footer__top_link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    transition: .4s;
}

.footer__top_link:hover{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #B79C10;
}

.footer_nav_link{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer_nav_link_list a{
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #D4D7E6;
    transition: .4s;
}

.footer_nav_link_list a:hover{
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #B79C10;
}


.footer__top_info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__top_info__title{
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    max-width: 297px;
    width: 100%;
    transition: .4s;
    cursor: pointer;
}

.footer__top_info__title:hover{
    color: #B79C10;
}

.footer__top_info__numb{
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #D4D7E6;
    transition: .4s;
}

.footer__top_info__numb:hover{
    color: #B79C10;
}

.footer__top_info__mail{
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #D4D7E6;
    transition: .4s;
}

.footer__top_info__mail:hover{
    color: #B79C10;
}